DROP POLICY IF EXISTS "Canvas Owners ALL" ON canvas_collaborators; CREATE POLICY "Canvas Owners ALL" ON canvas_collaborators FOR ALL USING ( (SELECT c.owner_id FROM canvases c WHERE c.id = canvas_collaborators.canvas_id) = auth.uid() );
